 .jumbotron{
    height: 80px;
    background-color: mediumslateblue;
    color: black;
    margin-top: 50px;
}

h1{
    padding: 15px 0px 0px 20px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: mediumslateblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 15px;
}

.btn-reserva{
    width: 100%;
}

a{
    color: black;
}

